{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class="container-fluid h-100 px-0 overflow-hidden main-page-content-outer-container">
    <div class="row h-100 g-0">
        
        <!-- Column containing logout form -->
        <div class="col-12 d-flex justify-content-center align-items-center main-page-content-inner-container col-md-6">
            <div class="row g-0 d-flex justify-content-center">
                <div class="col-12 w-100 d-flex flex-column justify-content-center px-sm-5 px-md-2 px-lg-3 px-xl-4 px-xxl-5">
                    <!-- Row containing heading -->
                    <div class="row pb-xxl-4">
                        <div class="col text-center">
                            <h1 class="mb-xxl-0">{% trans "Sign Out" %}</h1>
                        </div>
                    </div>
                    <!-- Row containing 'Are you sure you want to sign out?' text -->
                    <div class="row">
                        <div class="col text-center">
                            <p class="mb-0">{% trans 'Are you sure you want to sign out?' %}</p>
                        </div>
                    </div>
                    <!-- Row containing restaurant pink logo -->
                    <div class="row">
                        <div class="col d-flex justify-content-center align-items-center">
                            <img class="tree-logo" src="https://res.cloudinary.com/lhartley/image/upload/v1644862955/pink_tree_logo_ze0orc.svg" 
                                alt="restaurant logo of a pink tree, stars and a butterfly">
                        </div>
                    </div>
                    <!-- Row containing logout form -->
                    <div class="row">
                        <div class="col text-center">
                            <form method="post" action="{% url 'account_logout' %}">
                                {% csrf_token %}
                                {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                                {% endif %}
                                <button type="submit" class="main-pg-button">{% trans 'Sign Out' %}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Column containing background image -->
        <div class="col-12 main-page-content-inner-container col-md-6" id="logout-pg-image-outer-container">
            <div class="h-100 image-inner-container"></div>
    </div>
</div>

{% endblock %}