* {
    border: none; 
    margin: 0; 
    padding: 0; 
    text-decoration: none; 
}

body {
    background-color: #3D6C77;
    color: #FFF6EA;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* navigation bar */

.navbar-brand {
    font-family: 'Montez', cursive;
    font-size: 1.8em;
    font-weight: 400;
}

.navbar-brand img {
    height: 50px; 
    width: 50px; 
}

.navbar-dark .navbar-nav .nav-link {
    font-size: 0.9em;
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link.disabled,
.navbar-dark .navbar-nav .show > .nav-link {
    color: #FFF6EA;
}

.navbar-dark .navbar-toggler {
    border-color: #FFF6EA;
    color: #FFF6EA;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 246, 234, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* 
code for making the leaf icon within a navigation link visible only when 
hovering over or focussing on that link adapted from an answer given by Curtis
on this Stack Overflow post - 
https://stackoverflow.com/questions/9617641/css-link-to-an-icon-visible-on-hover
*/
.nav-link span {
    visibility: hidden;
}

.nav-link i {
    color: #E6C2BF;
}

.navbar-dark .navbar-nav .nav-link:hover span, .navbar-dark .navbar-nav .nav-link:focus span{
    visibility: visible;
}

/* footer */

footer {
    font-size: 0.8em;
}

/* home page */

.intro-text {
    font-size: 0.9em;
}

.intro-container {
    min-height: 342px;
}

.tree-logo {
    height: 50vw;
    width: 50vw;
}

.booking-invite-outer-container {
    background: #3D6C77 url('https://res.cloudinary.com/lhartley/image/upload/v1644182225/tea_lights_lryeuj.jpg') center center / cover no-repeat; 
}

.booking-invite-inner-container {
    background-color: rgba(61, 108, 119, 0.5);
}

/* media queries */

/* for small screen sizes of 375px and up */
@media screen and (min-width:375px) {

    .navbar-brand img {
        margin-right: 0.6em;
    }
}

/* for small screen sizes of 425px and up */
@media screen and (min-width:425px) {

    .tree-logo {
        height: 30vw;
        width: 30vw;
    }
}

/* for small screen sizes of 600px and up */
@media screen and (min-width:600px) {

    .intro-container {
        min-height: 450px;
    }
}

/* for medium screen sizes of 992px and up */
@media screen and (min-width:992px) {

    .navbar-brand {
        margin-right: 0.8em;
    }

    .navbar-brand img { 
        height: 60px;
        margin-right: 0.8em;
        width: 60px; 
    }
}

/* for medium screen sizes of 1200px and up */
@media screen and (min-width:1200px) {

    body {
        font-size: 18px;
    }
}

/* for large screen sizes of 1400px and up */
@media screen and (min-width:1400px) {

    body {
        font-size: 20px;
    }

    .navbar-brand {
        font-size: 2em;
    }

    .navbar-brand img {
        height: 80px; 
        width: 80px; 
    }
}

/* for extra large screen sizes of 2000px and up */
@media screen and (min-width:2000px) {

    body {
        font-size: 24px;
    }

    .navbar-brand {
        margin-right: 1em;
    }

    .navbar-brand img {
        height: 100px; 
        width: 100px; 
    }

    .nav-item {
        margin-right: 1em;
    }
}

/* for extra extra large screen sizes of 3000px and up */
@media screen and (min-width:3000px) {

    body {
        font-size: 28px;
    }

    .navbar-brand {
        margin-right: 2em;
    }

    .navbar-brand img {
        height: 120px; 
        width: 120px; 
    }

    .nav-item {
        margin-right: 2em;
    }
}