* {
    border: none; 
    margin: 0; 
    padding: 0; 
    text-decoration: none; 
}

body {
    background-color: #3D6C77;
    color: #FFF6EA;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* navigation bar */

.navbar-brand {
    font-family: 'Montez', cursive;
    font-size: 1.8em;
    font-weight: 400;
}

.navbar-brand img {
    height: 50px; 
    width: 50px; 
}

.navbar-dark .navbar-nav .nav-link {
    font-size: 0.9em;
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link.disabled,
.navbar-dark .navbar-nav .show > .nav-link {
    color: #FFF6EA;
}

.navbar-dark .navbar-toggler {
    border-color: #FFF6EA;
    color: #FFF6EA;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 246, 234, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* 
code for making the pink leaf icon within a navigation link visible only when 
hovering over or focussing on that link adapted from an answer given by Curtis
on this Stack Overflow post - 
https://stackoverflow.com/questions/9617641/css-link-to-an-icon-visible-on-hover
*/
.nav-link span {
    visibility: hidden;
}

.nav-link i {
    color: #E6C2BF;
}

.navbar-dark .navbar-nav .nav-link:hover span, .navbar-dark .navbar-nav .nav-link:focus span{
    visibility: visible;
}

/* mint green leaf icon is visible next to the navigation link for the page the user is on */
.navbar-dark .navbar-nav .nav-link.active i {
    color: #D4E9CE;
    visibility: visible;
}

/* footer */

footer {
    font-size: 0.8em;
}

/* home page */

.main-page-content-outer-container {
    font-size: 0.9em;
}

.main-page-content-inner-container {
    min-height: 450px;
}

.tree-logo {
    height: 50vw;
    width: 50vw;
}

#home-pg-image-outer-container {
    background: #3D6C77 url('https://res.cloudinary.com/lhartley/image/upload/v1644182225/tea_lights_lryeuj.jpg') center center / cover no-repeat; 
}

.image-inner-container {
    background-color: rgba(61, 108, 119, 0.3);
}

/* my bookings page */

.top-bottom-content-row {
    min-height: 100px;
    max-height: 150px;
}

h1 {
    font-size: 1.6em;
    font-family: 'Oregano', cursive;
}

h2 {
    font-size: 1em;
}

h3 {
    font-size: 1.1em;
}

.card {
    background-color: #FFF6EA;
    color: #3D6C77;
    font-size: 0.9em;
}

.card img {
    margin: 0 auto;
    width: 20vw;
}

.change-booking-form {
    display: inline-block;
}

button {
    border-radius: 15px; 
    font-family: 'Oregano', cursive;
}

.change-booking-button {
    background-color: #FFDBE0;
    color: #3D6C77;
    font-size: 1.2em; 
    padding: 8px;
}

.change-booking-button:hover {
    box-shadow: 0 0 10px 7px #E6C2BF;
}

.main-pg-button {
    background-color: #D4E9CE;
    color: #3D6C77;
    font-size: 1.4em; 
    padding: 10px;
}

.main-pg-button:hover {
    box-shadow: 0 0 10px 7px #FFF6EA;
} 

#empty-booking {
    min-height: 300px;
}

#empty-card {
    max-height: 350px;
}

a {
    color: #B9EEF8;
}

a:hover, 
a:focus {
    color: #FFDBE0;
}

.pagination {
    font-size: 0.9em;
    width: 100%;
}

.pagination li {
    width: 33.3%;
}

/* make a booking page */

.form-container {
    background-color: #D4E9CE;
}

.form {
    color: #3D6C77;
    width: 100%;
}

.form-group {
    margin-top: 5%;
}

.form-control {
    font-size: 1em;
}

.form-control,
.gj-datepicker,
.gj-datepicker-bootstrap [role=right-icon] button,
#id_date {
    border: none;
    background-color: #FFF6EA;
}

.form-container,
.gj-datepicker {
    border-radius: 0.25rem;
}

.form-control, 
.gj-datepicker {
    border: 2px solid #3D6C77;
}

.form-control,
.fa-calendar,
.form-control:focus {
    color: #37606D;
}

.booking-button {
    background-color: #3D6C77;
    color: #D4E9CE;
    font-size: 1.4em; 
    padding: 10px;
}

.invalid-feedback {
    color: #C32232;
}

.booking-button:hover {
        box-shadow: 0 0 10px 7px #2F4858;
    }

/* styling for the open datepicker */
.gj-picker-bootstrap {
    background-color: #FFF6EA;
}

div [role=body] {
    color: #007A6A;
}

.gj-picker-bootstrap table tr td.disabled div, 
.gj-picker-bootstrap table tr td.other-month div {
    color: #806A60;
    text-decoration-line: line-through;
}

#make-booking-pg-image-outer-container {
    background: #3D6C77 url('https://res.cloudinary.com/lhartley/image/upload/v1644754119/wooden_table_dining_hficla.jpg') center center / cover no-repeat; 
}

.error-feedback {
    color: #C32232;
    font-size: .875em;
    margin-top: 0.25rem;
    width: 100%;
}

.error-container {
    border: 2px solid #DC3545;
}

/* edit booking page */

#edit-booking-pg-image-outer-container {
    background: #3D6C77 url('https://res.cloudinary.com/lhartley/image/upload/v1644781255/garden_entrance_v9d3oh.jpg') center center / cover no-repeat; 
}

/* menus page */

#winter-menu-container {
    background-color: #FFF6EA;
    color: #3D6C77;
}

#winter-menu-link {
    color: #747201;
}

#winter-menu-link:hover, 
#winter-menu-link:focus {
    color: #B15739;
}

/* signup page */

#signup_form .form-group {
    margin-top: 2%;
}

.signup-pg-content-container {
    min-height: 650px;
}

#signup-pg-image-outer-container {
    background: #3D6C77 url('https://res.cloudinary.com/lhartley/image/upload/v1644929032/blue_flowers_sjrsuv.jpg') center center / cover no-repeat; 
}

/* login page */

#login-pg-image-outer-container {
    background: #3D6C77 url('https://res.cloudinary.com/lhartley/image/upload/v1644929035/champagne_pouring_su8zef.jpg') center center / cover no-repeat; 
}

/* logout page */

#logout-pg-image-outer-container {
    background: #3D6C77 url('https://res.cloudinary.com/lhartley/image/upload/v1644182221/light_up_flowers_y7tknh.jpg') center center / cover no-repeat; 
}

/* alerts */

.alert {
    font-size: 0.9em;
}

/* media queries */

/* for small screen sizes of 375px and up */
@media screen and (min-width:375px) {

    .navbar-brand img {
        margin-right: 0.6em;
    }

    .booking-card {
        margin: 0 auto;
        width: 90%;
    }

    .pagination {
        width: 90%;
    }
    
}

/* for small screen sizes of 425px and up */
@media screen and (min-width:425px) {

    .tree-logo {
        height: 30vw;
        width: 30vw;
    }

    .booking-card {
        width: 70%; 
    }

    .pagination {
        width: 80%; 
    }
}

/* for small screen sizes of 600px and up */
@media screen and (min-width:600px) {

    .main-page-content-inner-container {
        min-height: 500px;
    }

    .booking-card {
        width: 50%; 
    }

    .pagination {
        width: 60%; 
    }
}

/* for small screen sizes of 768px and up */
@media screen and (min-width:768px) {

    #bookings-row {
        max-height: 1200px;
    }

    .booking-card {
        width: 90%; 
    }

    .card img {
        margin: 0 auto;
        width: 15vw;
    }
}

/* for medium screen sizes of 992px and up */
@media screen and (min-width:992px) {

    .navbar-brand {
        margin-right: 0.8em;
    }

    .navbar-brand img { 
        height: 60px;
        margin-right: 0.8em;
        width: 60px; 
    }

    .main-page-content-inner-container {
        min-height: 600px;
    }

    #bookings-row {
        max-height: 900px;
    }
}

/* for medium screen sizes of 1024px and up */
@media screen and (min-width:1024px) {

    .card img {
        margin: 0 auto;
        width: 10vw;
    }
}

/* for medium screen sizes of 1200px and up */
@media screen and (min-width:1200px) {

    body {
        font-size: 18px;
    }

    .signup-pg-content-container {
        min-height: 750px;
    }
}

/* for large screen sizes of 1400px and up */
@media screen and (min-width:1400px) {

    body {
        font-size: 20px;
    }

    .navbar-brand {
        font-size: 2em;
    }

    .navbar-brand img {
        height: 80px; 
        width: 80px; 
    }

    .main-page-content-inner-container {
        min-height: 800px;
    }

    .tree-logo {
        height: 25vw;
        width: 25vw;
    }

    #bookings-row {
        max-height: 1200px;
    }

    .top-bottom-content-row {
        min-height: 150px;
        max-height: 225px;
    }

    .form-group {
        margin-top: 10%;
    }

    .signup-pg-content-container {
        min-height: 850px;
    }

    #signup_form .form-group {
        margin-top: 4%;
    }
}

/* for extra large screen sizes of 2000px and up */
@media screen and (min-width:2000px) {

    body {
        font-size: 24px;
    }

    .navbar-brand {
        margin-right: 1em;
    }

    .navbar-brand img {
        height: 100px; 
        width: 100px; 
    }

    .nav-item {
        margin-right: 1em;
    }

    .main-page-content-inner-container {
        min-height: 900px;
    }

    .top-bottom-content-row {
        min-height: 200px;
        max-height: 300px;
    }

    .signup-pg-content-container {
        min-height: 1000px;
    }

    #signup_form .form-group {
        margin-top: 5%;
    }
}

/* for extra large screen sizes of 2500px and up */
@media screen and (min-width:2500px) {

    .main-page-content-inner-container {
        min-height: 900px;
    }

    #bookings-row {
        max-height: 1200px;
    }

    .top-bottom-content-row {
        min-height: 300px;
        max-height: 450px;
    }

    .form-group {
        margin-top: 8%;
    }

    .signup-pg-content-container {
        min-height: 1200px;
    }

}

/* for extra extra large screen sizes of 3000px and up */
@media screen and (min-width:3000px) {

    body {
        font-size: 28px;
    }

    .navbar-brand {
        margin-right: 2em;
    }

    .navbar-brand img {
        height: 120px; 
        width: 120px; 
    }

    .nav-item {
        margin-right: 2em;
    }

    .main-page-content-inner-container {
        min-height: 1200px;
    }

    #bookings-row {
        max-height: 1500px;
    }

    .top-bottom-content-row {
        min-height: 500px;
        max-height: 750px;
    }

    .signup-pg-content-container {
        min-height: 1400px;
    }
}