{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <title>The Night Garden</title>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The Night Garden restaurant's website for online bookings, queries and menu information.">
    <meta name="keywords" content="night garden, restaurant, cardiff, late dining, open late">
    <meta name="author" content="Lianne Hartley">
</head>

<body>
    <footer>

    </footer>
</body>

</html>