{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

<div class="container-fluid h-100 px-0 overflow-hidden main-page-content-outer-container">
    <div class="row h-100 g-0">
        <!-- Column containing booking form -->
        <div class="col-12 d-flex align-items-center justify-content-center main-page-content-inner-container col-md-6">
            <div class="row g-0 d-flex justify-content-center">
                <div class="col-12 d-flex flex-column justify-content-center px-sm-5 px-md-2 px-lg-3 px-xl-4 px-xxl-5 booking-form-outer-container">
                    <!-- Row containing heading -->
                    <div class="row pb-xxl-4">
                        <div class="col text-center">
                            <h1 class="mb-xxl-0">Make a Booking</h1>
                        </div>
                    </div>
                    <!-- Row containing booking form -->
                    <div class="row py-xxl-4">
                        <div class="col d-flex justify-content-center align-items-center booking-form-inner-container">
                            <form method="post" class="booking-form">
                                {{ booking_form | crispy }}
                                {% csrf_token %}
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="booking-button my-3 my-xxl-5">Make Booking</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Row containing information on large bookings -->
                    <div class="row pt-2 pt-xxl-4">
                        <div class="col d-flex justify-content-center align-items-center">
                            <p class="text-center mb-0">
                                Please get in touch with us to book for parties of over 10 guests
                                or for private events
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Column containing background image -->
        <div class="col-12 main-page-content-inner-container make-booking-pg-image-outer-container col-md-6">
            <div class="h-100 image-inner-container"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
