{% extends "base.html" %}

{% block content %}

<div class="container-fluid h-100 px-0 overflow-hidden main-page-content-outer-container">
    <div class="row h-100 g-0">
        <!-- Introductory column with restaurant logo and address -->
        <div class="col-12 d-flex justify-content-center align-items-center main-page-content-inner-container col-md-6 px-md-0">
            <div class="w-75 px-sm-5">
                <!-- Row containing headline text -->
                <div class="row">
                    <div class="col text-center">
                        <p class="mb-0">
                            A unique late night dining experience set in beautiful garden 
                            surroundings all within a stone's throw of Cardiff city centre.
                        </p>
                    </div>
                </div>
                <!-- Row containing restaurant logo -->
                <div class="row">
                    <div class="col d-flex justify-content-center align-items-center">
                        <img class="tree-logo" src="https://res.cloudinary.com/lhartley/image/upload/v1644234196/tree_logo_ul1ws6.svg" 
                            alt="restaurant logo of a pink tree, stars and a butterfly">
                    </div>
                </div>
                <!-- Row containing information on restaurant capacity, opening times and call to action to book -->
                <div class="row">
                    <div class="col text-center">
                        <p class="mb-0">
                            We offer a Summer and Winter set menu in our exclusive and cosy 32 guest garden setting. 
                            Open Wednesday to Sunday with evening sittings until 10pm.
                            Register or login now to book online.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Introductory column with background image -->
        <div class="col-12 main-page-content-inner-container home-pg-image-outer-container col-md-6">
            <div class="h-100 image-inner-container"></div>
        </div>
    </div>
</div>

{% endblock %}