{% extends "base.html" %}

{% block content %}

<div class="container-fluid h-100 text-center">

    <div class="row h-100">
        <div class="col d-flex flex-column">

            <div class="row flex-grow-1">
                <div class="col">
                    <h1>My Bookings</h1>
                    {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                    <h2>Current bookings for {{ user.username }}</h2>
                    {% else %}
                    <h2>Current bookings for {{ user.first_name }} {{ user.last_name }}</h2>
                    {% endif %}
                </div>
            </div>

            <div class="row flex-grow-2">
                
                {% for booking in bookings %}
                <div class="col-12">

                    <div class="card">
                        <!-- Alternating butterfly and tree logos to appear at the top of each booking card -->
                        {% if forloop.counter|divisibleby:2 %}
                        <img src="https://res.cloudinary.com/lhartley/image/upload/v1644164468/pink_butterfly_logo_xnvv16.svg" class="card-img-top" 
                            alt="restaurant logo of a pink butterfly">
                        {% else %}
                        <img src="https://res.cloudinary.com/lhartley/image/upload/v1644258589/tree_only_logo_qkrudo.svg" class="card-img-top" 
                            alt="restaurant logo of a pink tree">
                        {% endif %}
                        <div class="card-body">
                            <h3 class="card-title">{{ booking.date_string }}</h3>
                            <p class="card-text">{{ booking }}</p>
                            <p class="card-text">
                                {% if booking.approved %}
                                <i class="fas fa-check-circle"> Approved</i>
                                {% else %}
                                <i class="fas fa-times-circle"> Awaiting Confirmation</i>
                                {% endif %}
                            </p>
                            <form action="{% url 'edit_booking' booking_id=booking.id %}">
                                <button type="submit">Edit Booking</button>
                            </form>
                            <form action="{% url 'cancel_booking' booking_id=booking.id %}" method="POST">
                                {% csrf_token %}
                                <!-- Asks the user to confirm that they want to cancel the booking  -->
                                <!-- 
                                    Code for the user to confirm that they want to cancel taken from an answer given by 
                                    Raghav Rach and edited by Besnik on this Stack Overflow post - 
                                    https://stackoverflow.com/questions/9139075/how-to-show-a-confirm-message-before-delete
                                -->
                                <button type="submit" onclick="return confirm('Are you sure you want to cancel this booking?');">
                                    Cancel Booking
                                </button>
                            </form>
                        </div>
                    </div>

                </div>
                {% empty %}
                <p>You have no current bookings</p>
                {% endfor %}

            </div>
            
            <div class="row flex-grow-1">
                <div class="col">
                    <form action="{% url 'make_booking' %}">
                        <button type="submit">Make a Booking</button>
                    </form>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>           
</div>
    

{% endblock %}
